# All the python compiled
*.pyc
.project
.pydevproject
*.egg-info

#Sphinx built website.
doc/_build

#Padraig ignores..
ideas/padraig/generatedFromV2Schema/build
ideas/padraig/generatedFromV2Schema/*.xml
