six
lxml
numpy
pymongo
numexpr
simplejson; python_version < '3.5'
git+git://github.com/PyTables/PyTables/@master#egg=tables ; python_version >= '3.10'
tables>=3.3.0 ; python_version < '3.10'
jsonpickle>=0.9.6
