six
lxml
numpy
pymongo
numexpr ; python_version >= '3'
numexpr<2.8 ; python_version < '3'
simplejson; python_version < '3.5'
git+git://github.com/PyTables/PyTables/@master#egg=tables ; python_version >= '3.10'
tables>=3.3.0 ; python_version < '3.10'
